<h2>My Profile</h2>

   <%= image_tag current_user.image %>
    <p>Gender: <%= current_user.gender %></p>
    <p>Email: <%= current_user.email %></p>
    <p>Location: <%= current_user.location %></p>

<h2>Your Upcoming Trips</h2>
<%= link_to 'Add a new trip', new_trip_path, :type => 'button', :class => 'btn btn-success' %>
	<table class="table">
  <thead>
    <tr>
      <th>Destination</th>
      <th>Start</th>
      <th>End</th>
      <th>Certainty</th>
      <th>My Tips</th>

    </tr>
  </thead>

  <tbody>
    <% @user.trips.each do |trip| %>
      <tr>
        <td><%= trip.destination %></td>
        <td><%= trip.start %></td>
        <td><%= trip.end %></td>
        <td><%= trip.certainty %></td>
        <td><%= trip.tips %></td>
        <td><%= link_to 'Show', trip %></td>
        <td><%= link_to 'Edit', edit_trip_path(trip) %></td>
        <td><%= link_to 'Destroy', trip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


